html {
    height: 100%;
}

body {
    height: 100% !important;
    background-color: #e5e5e5 !important; 
    color: #080808 !important;
}

.center {
    margin: 0, auto;
    height: 100%;
    width: 70vh;

}

.panel3 {
    background-color: #e5e5e5 !important;
}

.banner {
    background-color: #AEE7FC !important;
}

#top {
}