/*
html {
    height: 100%;
}

body {
    height: 100% !important;
    background-color: #080808 !important; 
    color: #e5e5e5 !important;
}


.panel1 {
    background-color: #394861 !important;
}

.panel2 {
    background-color: #121212 !important;
}

.panel3 {
    background-color: #121212 !important;
}

.tbody {
    background-color: #121212 !important;
}

.center {
    margin: 0, auto;
}

.banner {
    background-color: #AEE7FC !important;
}

#top {
    height: 100%;
}
*/